.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #9400D3;
}

.jumbotron{
  background-color: #DDA0DD;
}

.jumbrotron div{
  margin-top: -100px;
}

.smallerjum{
  height:160px;
  padding:20px;
}

main{
  background-color: #FFF0F0;
  margin-top: -40px;
}

footer {
  color:#FFF;
  font-size: 20px;
  background-color: #9400D3;
  padding: 20px;
}

.allsame img{
  width:290px;
  height:290px;
}

.threesame img{
  width:390px;
  height:290px;
}

#myCarousel{
  width:85%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.icons{
  height:150px;
  margin: 5px;
}
.map{
  width:60%;
  height:190px;
}
a p{
  color:black;
}
.open{
  background-color:#FFF0F0;
  height:130px; 
}
