<div class="jumbotron smallerjum">
  <div class="container text-center upward">
    <h1>Tip To Toe</h1>
    <p>Denver's Upscale Nail Salon</p>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Call Us</a></p>
      <p><a href="#">#TTTDenver</a></p>
      <p><a href="#">Send Us An Email</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome</h1>
      <p>Our story begins back in 2014. These people bought a building downtown Denver and opened a nail salon. They knew that one day everyone would come from near and far to have their nails done by the new store. The people couldn't becide on a name so they just went with Tip To Toe and it sounds great! Our story is great. Everyone in Denver loves us and we are happy about that. We work hard to make sure your feet are soft. Be sure to come on by!</p>
      <hr>
      <h3>Owners</h3>
      <p>"We work hard to make your feet soft."</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>✔️</p>
      </div>
      <div class="well">
        <p>✔️</p>
      </div>
    </div>
  </div>
</div>
