<div class="jumbotron smallerjum">
  <div class="container text-center upward">
    <h1>Tip To Toe</h1>
    <p>Denver's Upscale Nail Salon</p>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">CALL NOW</a></p>
      <p><a href="#">DO IT NOW</a></p>
      <p><a href="#">THANK YOU!</a></p>
    </div>
    <div class="container-fluid bg-3 text-center">
      <table class="row col-sm-8" style="margin-left:10px;padding:10px;">
        <tr style="height:40px;">
          <td><img style="height:80px;" src="http://www.iconsplace.com/icons/preview/black/phone-256.png" alt=""></td>
          <td><a href="https://www.facebook.com/Tip-to-Toe-Nails-803887476320539/"><img style="height:80px;margin-left:50px" src="https://www.shareicon.net/data/512x512/2016/07/08/117664_chat_512x512.png" alt=""></a></td>
          <td><a href="https://www.yelp.com/biz/tip-to-toe-nails-denver"><img style="height:80px;" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/styleguide/47bf4c6daf6c/assets/img/brand_guidelines/old_stroke.png" alt=""></a></td>

        </tr>
        <br>
        <tr style="margin-top:10px;">
          <td><p style="margin-top:10px;">(303) 573-0205</p></td>

          <td><a href="<img style="height:80px;margin-left:50px" src="https://www.shareicon.net/data/512x512/2016/07/08/117664_chat_512x512.png" alt="""><p style="margin-top:10px;margin-left:50px">Messenger</p></a></td>
          <td><a href="https://www.yelp.com/biz/tip-to-toe-nails-denver"><p style="margin-top:10px;">Reviews</p></a></td>
        </tr>
      </table>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <h3>{{hours}}</h3>
        <h4>{{today | date:'EEEE'}}</h4>
        <p>{{displayHours}}</p>
      </div>
      <div class="well">
        <p>Call Us</p>
        <p>(303) 573-0205</p>
      </div>
    </div>
  </div>
  <figure>
    <img class="map" src="https://www.google.com/maps/vt/data=hSKtvwl9-7a_EReOESG3AuGxggSZcF07uFE73PRLLmEGnNrtJBGwuKvBoHXelhsPIxgEAYDTWKqhYmg80STvnuUmMS8mXtsWY7K1cFtMUTmNXCEY_uRh1BPQY-geOwzzsYmjXezNUXv2cBenTagVjREa6Q" alt="">
  </figure>
</div>
</div>
