<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">CALL NOW</a></p>
      <p><a href="#">PLEASE?</a></p>
      <p><a href="#">THANK YOU</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h3>Call Us Today!</h3>
      <p>(303) - 912 - 8932</p>
      <h3>Send Email</h3>
      <p>exampleEmail@example.com</p>
      <h3>Comment or Message</h3>
      <p>facebook/tiptotoe/jackson/made/this</p>
      <br>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>CALL</p>
      </div>
      <div class="well">
        <p>EMAIL</p>
      </div>
    </div>
  </div>
</div>
